@font-face {
  font-family: "Recoleta-Regular";
  src: url(../fonts/recoleta-regular.woff) format("truetype");
}

@font-face {
  font-family: "Recoleta-Medium";
  src: url(../fonts/recoleta-medium.woff) format("truetype");
}

@font-face {
  font-family: "Graphic-Regular";
  src: url(../fonts/Graphik-Regular-Web.woff2) format("truetype");
}

@font-face {
  font-family: "Graphic-Medium";
  src: url(../fonts/Graphik-Medium-Web.woff2) format("truetype");
}

@font-face {
  font-family: "Graphic-Semibold";
  src: url(../fonts/Graphik-Semibold-Web.woff2) format("truetype");
}

@font-face {
  font-family: "Graphic-Bold";
  src: url(../fonts/Graphik-Bold-Web.woff2) format("truetype");
}

h1 {
  font-size: 2rem;
  font-family: "Recoleta-Regular";
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  font-family: "Recoleta-Regular";
}

h3 {
  font-size: 1.25rem;
  font-family: "Recoleta-Regular";
  text-align: left;
}

h4,
.heading-4 {
  font-size: 1.17rem;
  font-family: "Recoleta-Regular";
  text-align: left;
}

p,
li {
  font-size: 1rem;
  font-family: "Graphic-Regular";
  text-align: left;
}

a {
  font-family: "Graphic-Regular";
  transition: border-bottom 200ms ease-out;
}

a:hover {
  font-weight: bold;
}

* {
  font-family: "Recoleta-Regular";
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.background {
  position: relative;
  background: url("/assets/background.svg") no-repeat 0 -60px;
  background-repeat: no-repeat;
}

footer {
  background: url("/assets/footer.svg") no-repeat center top;
  margin-top: auto;
}

.navlink {
  font-family: "Graphik-Semibold";
  text-decoration: underline;
}
